---
- name: "MMN openwrtsystem - Block for delegation"
  delegate_to: "{{ _openwrt_system_target_host }}"
  block:
    - name: "MMN openwrtsystem - Enable kernel logging on console"
      ansible.builtin.file:
        path: "{{ openwrt_system_deploypath_kernellogging }}"
        state: absent
      when: openwrt_system_kernellogonconsole
    - name: "MMN openwrtsystem - Make sure kernel logging deploypath exists"
      ansible.builtin.file:
        path: "{{ openwrt_system_deploypath_kernellogging }}"
        state: directory
    - name: "MMN openwrtsystem - Disable kernel logging on console"
      ansible.builtin.template:
        src: "kernellogging.conf.jinja2"
        dest: "{{ openwrt_system_deploypath_kernellogging }}/{{ openwrt_system_deployfile_kernellogging }}"
        mode: 0644
      when: not openwrt_system_kernellogonconsole
    - name: "MMN openwrtsystem - Make sure kernel sysctl deploypath exists"
      ansible.builtin.file:
        path: "{{ openwrt_system_deploypath_sysctl }}"
        state: directory
    - name: "MMN openwrtsystem - Set additional kernel parameters in sysctl.conf"
      ansible.builtin.template:
        src: sysctl.conf.jinja2
        dest: "{{ openwrt_system_deploypath_sysctl }}/{{ openwrt_system_deployfile_sysctl }}"
        mode: 0644
