[Interface]
Address    = {{ item.value.allowed_ips | join(', ') }}
PrivateKey = {{ client_privatekey_data_decoded | default('PRIVATE_KEY_MISSING') }}
MTU = {{ item.value.mtu | default("1420", true) }}
DNS = {{ hostvars[inventory_hostname]['openwrt_network_interfaceshost'][item.value.interface]['wg_addresses'] | ansible.utils.ipaddr('address') | join(', ') }}

[Peer]
PublicKey    = {{ server_publickey_data_decoded | default('SERVER_PUBLIC_KEY_MISSING') }}
{% if item.value.s2s is defined and item.value.s2s %}
PresharedKey = {{ s2s_psk_decoded | default('PSK_MISSING') }}
{% else %}
PresharedKey = {{ client_psk_decoded | default('PSK_MISSING') }}
{% endif %}
{% if item.value.routes_to is defined %}
AllowedIPs   = {{ hostvars[inventory_hostname]['openwrt_network_interfaceshost'][item.value.interface]['wg_addresses'] | ansible.utils.ipaddr('network/prefix') | join(', ') }}, {{ item.value.routes_to | join (', ') }}
{% else %}
AllowedIPs   = {{ hostvars[inventory_hostname]['openwrt_network_interfaceshost'][item.value.interface]['wg_addresses'] | ansible.utils.ipaddr('network/prefix') | join(', ') }}
{% endif %}

{% if item.value.endpoint_host is not defined %}
Endpoint     = {{ hostvars[inventory_hostname]['openwrt_network_interfaces'][item.value.interface]['wg_myendpoint']}}:{{ hostvars[inventory_hostname]['openwrt_network_interfaces'][item.value.interface]['wg_listen_port']}}
{% else %}
Endpoint     = {{ item.value.endpoint_host }}:{{ item.value.endpoint_port }}
{% endif %}
{% if item.value.keepalive is defined %}
PersistentKeepalive = {{ item.value.keepalive }}
{% endif %}
