{################ CONSTANTS ##################}
{% if borgmatic_constants is defined %}
constants:
{% for key, value in borgmatic_constants.items() %}
  {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{################ SOURCE DIRECTORIES ##################}
source_directories:
{% for directory in borgmatic_srcdirs | default(borgmatic_default_srcdirs) %}
  - {{ directory }}
{% endfor %}
{################ REPOSITORIES ##################}
repositories:
{% for key, value in borgmatic_repositories.items() %}
{############}
{# BORGBASE #}
{############}
{% if value['enabled'] %}
{% if value['type'] == 'borgbase' %}
  - path: "ssh://{{ borgbase_repo['repo_id'] }}@{{ borgbase_repo['repo_id'] }}.repo.borgbase.com/./repo"
    label: "{{ inventory_hostname }}_{{ key }}"
{% else %}
  - path: "{{ value['type'] | default('')}}{{ value['targetuser'] }}@{{ value['targethost'] }}/{% if value['subdir'] is defined %}./{{ value['subdir'] }}/{% endif %}{{ inventory_hostname }}"
    label: "{{ value['label'] | default(key) }}"
{% endif %}
{% if value['encryption'] is defined %}
    encryption: {{ value['encryption'] }}
{% endif %}
{% if value['append_only'] is defined %}
    append_only: {{ value['append_only'] }}
{% endif %}
{% if value['storage_quota'] is defined %}
    storage_quota: {{ value['storage_quota'] }}
{% endif %}
{% if value['make_parent_directories'] is defined %}
    make_parent_directories: {{ value['make_parent_directories'] }}
{% endif %}
{% endif %}
{% endfor %}
{################ OTHER STUFF ##################}
{% if borgmatic_working_directory is defined %}
    working_directory: {{ borgmatic_working_directory }}
{% endif %}
{% if borgmatic_one_file_system is defined %}
    one_file_system: {{ borgmatic_one_file_system }}
{% endif %}
{% if borgmatic_numeric_ids is defined %}
    numeric_ids: {{ borgmatic_numeric_ids }}
{% endif %}
{% if borgmatic_atime is defined %}
    atime: {{ borgmatic_atime }}
{% endif %}
{% if borgmatic_ctime is defined %}
    ctime: {{ borgmatic_ctime }}
{% endif %}
{% if borgmatic_birthtime is defined %}
    birthtime: {{ borgmatic_birthtime }}
{% endif %}
{% if borgmatic_read_special is defined %}
    read_special: {{ borgmatic_read_special }}
{% endif %}
{% if borgmatic_flags is defined %}
    flags: {{ borgmatic_flags }}
{% endif %}
{% if borgmatic_files_cache is defined %}
    files_cache: {{ borgmatic_files_cache }}
{% endif %}
{% if borgmatic_local_path is defined %}
    local_path: {{ borgmatic_local_path }}
{% endif %}
{% if borgmatic_remote_path is defined %}
    remote_path: {{ borgmatic_remote_path }}
{% endif %}
{################ PATTERNS ##################}
{% if borgmatic_patterns is defined %}
patterns:
{% for pattern in borgmatic_patterns %}
  - {{ pattern }}
{% endfor %}
{% endif %}
{% if borgmatic_patterns_from is defined %}
patterns_from:
{% for patternfrom in borgmatic_patterns_from %}
  - {{ patternfrom }}
{% endfor %}
{% endif %}
{% if borgmatic_excludepatterns is defined %}
exclude_patterns:
{% for excludepattern in borgmatic_excludepatterns %}
  - "{{ excludepattern }}"
{% endfor %}
{% endif %}
{% if borgmatic_exclude_from is defined %}
exclude_from:
{% for excludefrom in borgmatic_exclude_from %}
  - {{ excludefrom }}
{% endfor %}
{% endif %}
{################ OTHER STUFF ##################}
{% if borgmatic_exclude_caches is defined %}
    exclude_caches: {{ borgmatic_exclude_caches }}
{% endif %}
{% if borgmatic_exclude_if_present is defined %}
exclude_if_present:
{% for excludeifpresent in borgmatic_exclude_if_present %}
  - {{ excludeifpresent }}
{% endfor %}
{% endif %}
{% if borgmatic_keep_exclude_tags is defined %}
    keep_exclude_tags: {{ borgmatic_keep_exclude_tags }}
{% endif %}
{% if borgmatic_exclude_nodump is defined %}
    exclude_nodump: {{ borgmatic_exclude_nodump }}
{% endif %}
{% if borgmatic_source_directory is defined %}
    source_directory: {{ borgmatic_borgmatic_source_directory }}
{% endif %}
{% if borgmatic_user_runtime_directory is defined %}
    user_runtime_directory: {{ borgmatic_user_runtime_directory }}
{% endif %}
{% if borgmatic_user_state_directory is defined %}
    user_state_directory: {{ borgmatic_user_state_directory }}
{% endif %}
{% if borgmatic_source_directories_must_exist is defined %}
    source_directories_must_exist: {{ borgmatic_source_directories_must_exist }}
{% endif %}
{% if borgmatic_encryption_passcommand is defined %}
    encryption_passcommand: {{ borgmatic_encryption_passcommand }}
{% endif %}
{% if borgmatic_encpassphrase is defined %}
encryption_passphrase: "{{ borgmatic_encpassphrase }}"
{% elif borgmatic_encpassphrase_global is defined %}
encryption_passphrase: "{{ borgmatic_encpassphrase_global }}"
{% endif %}
{% if borgmatic_sshcommand is defined %}
ssh_command: {{ borgmatic_sshcommand }}
{% endif %}
compression: {{ borgmatic_compression | default('lz4', true) }}
{% if borgmatic_keepwithin is defined %}
keep_within: {{ borgmatic_keepwithin }}
{% endif %}
{% if borgmatic_keepsecondly is defined %}
keep_secondly: {{ borgmatic_keepsecondly }}
{% endif %}
{% if borgmatic_keepminutely is defined %}
keep_minutely: {{ borgmatic_keepminutely }}
{% endif %}
{% if borgmatic_keephourly is defined %}
keep_hourly: {{ borgmatic_keephourly }}
{% endif %}
{% if borgmatic_keepdaily is defined %}
keep_daily: {{ borgmatic_keepdaily | default('7', true) }}
{% endif %}
{% if borgmatic_keepweekly is defined %}
keep_weekly: {{ borgmatic_keepweekly }}
{% endif %}
{% if borgmatic_keepmonthly is defined %}
keep_monthly: {{ borgmatic_keepmonthly }}
{% endif %}
{% if borgmatic_keepyearly is defined %}
keep_yearly: {{ borgmatic_keepyearly }}
{% endif %}
{################ POSTGRESQL ##################}
{% if borgmatic_postgresdbs is defined or borgmatic_borgmatic_mysqldbs is defined or borgmatic_borgmatic_hooks_on_error is defined %}
{% endif %}
{% if borgmatic_hooks_on_error is defined %}
on_error:
{% for errorhook in borgmatic_hooks_on_error %}
  - {{ errorhook }}
{% endfor %}
{% endif %}
{% if borgmatic_postgresdbs is defined %}
postgresql_databases:
{% for postgresdb in borgmatic_postgresdbs %}
  - name: {{ postgresdb['name'] }}
{% if postgresdb['username'] is defined %}
    username: {{ postgresdb['username'] }}
{% endif %}
{% if postgresdb['password'] is defined %}
    password: {{ postgresdb['password'] }}
{% endif %}
{% if postgresdb['port'] is defined %}
    port: {{ postgresdb['port'] }}
{% endif %}
{% if postgresdb['hostname'] is defined %}
    hostname: {{ postgresdb['hostname'] }}
{% endif %}
{% if postgresdb['format'] is defined %}
    format: {{ postgresdb['format'] }}
{% endif %}
{% if postgresdb['ssl_mode'] is defined %}
    ssl_mode: {{ postgresdb['ssl_mode'] }}
{% endif %}
{% if postgresdb['ssl_cert'] is defined %}
    ssl_cert: {{ postgresdb['ssl_cert'] }}
{% endif %}
{% if postgresdb['ssl_key'] is defined %}
    ssl_key: {{ postgresdb['ssl_key'] }}
{% endif %}
{% if postgresdb['ssl_root_cert'] is defined %}
    ssl_root_cert: {{ postgresdb['ssl_root_cert'] }}
{% endif %}
{% if postgresdb['ssl_crl'] is defined %}
    ssl_crl: {{ postgresdb['ssl_crl'] }}
{% endif %}
{% if postgresdb['options'] is defined %}
    options: "{{ postgresdb['options'] }}"
{% endif %}
{% endfor %}
{% endif %}
{% if borgmatic_mysqldbs is defined %}
mysql_databases:
{% for mysqldb in borgmatic_mysqldbs %}
  - name: {{ mysqldb['name'] }}
{%if mysqldb['port'] is defined %}
    port: {{ mysqldb['port'] }}
{% endif %}
{%if mysqldb['username'] is defined %}
    username: {{ mysqldb['username'] }}
{% endif %}
{%if mysqldb['password'] is defined %}
    password: {{ mysqldb['password'] }}
{% endif %}
{%if mysqldb['hostname'] is defined %}
    hostname: {{ mysqldb['hostname'] }}
{% endif %}
{% if mysqldb['options'] is defined %}
    options: "{{ mysqldb['options'] }}"
{% endif %}
{% if mysqldb['tls'] is defined %}
    tls: {{ mysqldb['tls'] }}
{% endif %}
{% endfor %}
{% endif %}
{################ APPRISE NOTIFICATIONS ##################}
{% if borgmatic_apprise is defined %}
apprise:
{% if borgmatic_apprise.services is defined %}
  services:
{% for service in borgmatic_apprise.services %}
    - url: "{{ service.url }}"
{% if service.label is defined %}
      label: "{{ service.label }}"
{% endif %}
{% if service.start is defined %}
  start:
    title: {{ service.start.title }}
    body: {{ service.start.body }}
{% endif %}
{% if service.finish is defined %}
  finish:
    title: {{ service.finish.title }}
    body: {{ service.finish.body }}
{% endif %}
{% if service.fail is defined %}
  fail:
    title: {{ service.fail.title }}
    body: {{ service.fail.body }}
{% endif %}
{% if service.states is defined %}
  states:
{% for state in service.states %}
    - {{ state }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{################ LOKI LOGS ##################}
{% if borgmatic_loki is defined %}
loki:
{% for instance in borgmatic_loki %}
  url: {{ instance.url }}
{% if instance.labels is defined %}
  labels:
    app: {{ instance.labels.app }}
    hostname: {{ instance.labels.hostname }}
{% endif %}
{% endfor %}
{% endif %}
