---
- name: "MMN Podman - procd not absent"
  when: podman_container.state != "absent"
  block:
    - name: "MMN Podman - Ensure path procd init script"
      ansible.builtin.file:
        path: "{{ podman_deploypath_initscript }}"
        state: directory
    
    - name: "MMN Podman - Deploy procd init script container {{ podman_container.name }}"
      ansible.builtin.template:
        src: "procd.jinja2"
        dest: "{{ podman_deploypath_initscript }}/container_{{ podman_container.name }}"
        mode: 0740
    
    - name: "MMN Podman - Enable procd item"
      ansible.builtin.command: "/etc/init.d/container_{{ podman_container.name }} enable"
      when:
        - podman_container.state == "started"
        - not podman_runimagebuilder | default(false) | bool
    
- name: "MMN Podman - procd absent"
  when: podman_container.state == "absent"
  block:
    - name: "MMN Podman - Ensure procd init script container {{ podman_container.name }} absent"
      ansible.builtin.file:
        path: "{{ podman_deploypath_initscript }}/container_{{ podman_container.name }}"
        state: absent
