---
- name: "MMN Podman - systemd not absent"
  when: podman_container.state != "absent"
  block:
    - name: Create Podman Service unit
      containers.podman.podman_generate_systemd:
        name: "{{ podman_container.name }}"
        dest: "/etc/systemd/system"
        restart_policy: always
      # Ich sollte nur neustarten, wenn sich etwas geändert hat oder wenn es über eine variable enforced wird
    - name: Enable systemd unit
      ansible.builtin.systemd:
        name: "container-{{ podman_container.name }}"
        daemon_reload: yes
        state: "started"
        enabled: "true"

- name: "MMN Podman - systemd absent"
  when: podman_container.state == "absent"
  block:
    - name: Disable systemd unit
      ansible.builtin.systemd:
        name: "container-{{ podman_container.name }}"
        daemon_reload: yes
        state: "stopped"
        enabled: "false"
    - name: Delete systemd unit
      ansible.builtin.file:
        path: "/etc/systemd/system/container-{{ podman_container.name }}.service"
        state: absent
