---
# tasks file for ansible_openwrtuhttpd

- name: "MMN uhttpd - Determine target host for delegation"
  ansible.builtin.set_fact:
    _uhttpd_target_host: "{{ openwrt_imagebuilder_buildhost if (openwrt_imagebuilder_buildhost is defined and openwrt_imagebuilder_buildhost != inventory_hostname) else inventory_hostname }}"

# Setup tasks for ansible_openwrtuhttpd
- name: MMN openwrtuhttpd - Make sure deploypath is present
  ansible.builtin.file:
    path: "{{ openwrt_uhttpd_deploypath }}"
    state: directory
  delegate_to: "{{ _uhttpd_target_host }}"

- name: MMN openwrtuhttpd - Handle certificate selection
  ansible.builtin.include_tasks: 02handle_certs.yml
  when: not openwrt_uhttpd_runimagebuilder | default(false) | bool

- name: MMN openwrtuhttpd - Deploy uhttpd config template
  ansible.builtin.template:
    src: "uhttpd.jinja2"
    dest: "{{ openwrt_uhttpd_deploypath }}/{{ openwrt_uhttpd_deployfile }}"
  notify: restart uhttpd
