---
# tasks file for ansible_openwrtuhttpd
# Main entry point - orchestrates all sub-tasks

# Setup tasks for ansible_openwrtuhttpd
- name: MMN openwrtuhttpd - Make sure deploypath is present
  ansible.builtin.file:
    path: "{{ openwrt_uhttpd_deploypath }}"
    state: directory


- name: MMN openwrtuhttpd - Search for provided certificates
  ansible.builtin.include_tasks: 2search_provided_certs.yml
  when: not openwrt_uhttpd_runimagebuilder | default(false)

- name: MMN openwrtuhttpd - Search for default certificates
  ansible.builtin.include_tasks: 3search_default_certs.yml
  when: not openwrt_uhttpd_runimagebuilder | default(false)

- name: MMN openwrtuhttpd - Deploy configuration
  ansible.builtin.include_tasks: 4deploy_config.yml
  when: not openwrt_uhttpd_runimagebuilder | default(false)
