[global]
show_stacktraces = "{{ icingaweb2_config['global']['show_stacktraces'] }}"
show_application_state_messages = "{{ icingaweb2_config['global']['show_application_state_messages'] }}"
config_backend = "{{ icingaweb2_config['global']['config_backend'] }}"
config_resource = "{{ icingaweb2_config['global']['config_resource'] }}"

[logging]
log = "{{ icingaweb2_config['logging']['log'] }}"
level = "{{ icingaweb2_config['logging']['level'] }}"
application = "{{ icingaweb2_config['logging']['application'] }}"
facility = "{{ icingaweb2_config['logging']['facility'] }}"

