---
- name: "MMN cacert - Additional hosts for cert block"
  when:
    - cacert_ca.value.state | default('present') == 'present'
    - cacert_servercert_additionalhosts is defined
  block:
    - name: "MMN cacert - Read existing server certificate"
      become: True
      ansible.builtin.slurp:
        src: "{{ cacert_path_servercert }}"
      register: cacert_servercert_existing

    - name: "MMN cacert - Iterate over additional hosts"
      ansible.builtin.include_tasks: ca_instance_servercert_additional_hosts_instance.yml
      loop: "{{ cacert_servercert_additionalhosts }}"
      loop_control:
        loop_var: "cacert_servercert_additionalhost"
      when: cacert_servercert_additionalhost.state == 'present'
