{% import "functions.nft.j2" as functions with context %}
#!/usr/sbin/nft -f
# Deployed by Ansible

flush ruleset

table inet filter {
    chain input {
      type filter hook input priority 0
{{ functions.dropswitch(nftablespolicy) }}
      iif lo accept comment "Accept any localhost traffic"
      ct state invalid drop comment "Drop invalid connections"
      ct state established,related accept comment "Accept traffic originated from us"
      
      icmpv6 type { destination-unreachable, packet-too-big, time-exceeded, parameter-problem, echo-request, mld-listener-query, mld-listener-report, mld-listener-done, nd-router-solicit, nd-router-advert, nd-neighbor-solicit, nd-neighbor-advert, ind-neighbor-solicit, ind-neighbor-advert, mld2-listener-report } accept comment "Accept ICMPv6"
      ip protocol icmp icmp type { echo-request, destination-unreachable, router-solicitation, router-advertisement, time-exceeded, parameter-problem } accept comment "Accept ICMP"
      ip protocol igmp accept comment "Accept IGMP"
      # individual rules
{% if nftablesopenhost is defined %}
{% for rule in nftablesopenhost %}
{{ functions.create_input_rule(rule) }}
{% endfor %}
{% endif %}
{% if nftablesmergedgroup is defined %}
{% for rule in nftablesmergedgroup %}
{{ functions.create_input_rule(rule) }}
{% endfor %}
{% endif %}
      # individual interface input jump points
{% for interface in ansible_interfaces %}
{% if interface != 'lo' %}
      iifname {{ interface }} jump input_{{ interface }}
{% endif %}
{% endfor %}
{{ functions.rejectswitch(nftablespolicy) }}
{{ functions.loggingswitch(nftableslogging) }}
    }

    chain forward {
      type filter hook forward priority 0
      # Drop everything forwarded to us. We do not forward. That is routers job.
      policy drop
    }

    chain output {
      type filter hook output priority 0
      # Accept every outbound connection
      policy accept
    }

    # individual interface chains
{% for interface in ansible_interfaces %}
{% if interface != 'lo' %}
    chain input_{{ interface }} {
      ct state established,related accept comment "Accept traffic originated from us"
{{ functions.dropswitch(nftablespolicy) }}
{% if nftablesopenhost is defined %}
{% for inputrule in nftablesopenhost %}
{% if inputrule['inif'] is defined and inputrule['inif'] == interface %}
{{ functions.create_input_rule(inputrule) }}
{% endif %}
{% endfor %}
{% endif %}
{% if nftablesgroupmerged is defined %}
{% for inputrule in nftablesgroupmerged %}
{% if inputrule['inif'] is defined and inputrule['inif'] == interface %}
{{ functions.create_input_rule(inputrule) }}
{% endif %}
{% endfor %}
{% endif %}

{% if nftables_dnat is defined %}
      # Rules auto generated from dnat definitions
{% for dnatrule in nftables_dnat %}
{% if dnatrule['inif'] == interface %}
      {{ dnatrule['proto'] }} dport {{ dnatrule['dport'] }} meta protocol ip accept comment "{{ dnatrule['comment'] }}"
{% endif %}
{% endfor %}
{% endif %}
{{ functions.loggingswitch(nftableslogging) }}
{{ functions.rejectswitch(nftablespolicy) }}
    }
{% endif %}
{% endfor %}
}
