#SPDX-License-Identifier: MIT-0
---
- name: MMN sway - Include OS vars
  ansible.builtin.include_vars: "{{ ansible_distribution }}.yml"

- name: MMN sway - Include template vars
  ansible.builtin.include_vars: "templates.yml"

- name: MMN sway - Set package name for calling packages role
  ansible.builtin.set_fact:
    packages_installrole: "{{ sway_packages }}"

- name: MMN sway - Install required packages
  ansible.builtin.include_role:
    name: imp1sh.ansible_managemynetwork.ansible_packages

- name: MMN sway - Determine target users
  ansible.builtin.set_fact:
    sway_target_users: "{{ [sway_users] if (sway_users is string) else (sway_users if (sway_users is iterable and sway_users is not string) else [ansible_user | default('root')]) }}"
  when: sway_userconfig | default(true)

- name: MMN sway - Deploy configuration for each user
  ansible.builtin.include_tasks: deploy_user_config.yml
  loop: "{{ sway_target_users | default([ansible_user | default('root')]) }}"
  loop_control:
    loop_var: target_user
  when: sway_userconfig | default(true)

# - name: MMN sway - Deploy system-wide configuration
#   ansible.builtin.include_tasks: deploy_system_config.yml
#   when: not (sway_userconfig | default(true))
