---
{% if nb_devices_fetched is defined %}
nb_devices:
{% for device in nb_devices_fetched %}
  "{{ device.value.name }}":
    id: {{ device.key }}
{% if device.value.description != "" %}
    description: "{{ device.value.description  }}"
{% endif %}
{% if device.value.comment is defined and device.value.comment != "" %}
    comments: "{{ device.value.comment }}"
{% endif %}
{% if device.value.role is defined %}
    device_role: {{ device.value.role }}
{% endif %}
    device_type: {{ device.value.device_type }}
    primary_ip4: "{{ device.value.primary_ip4.address | default("") }}"
    primary_ip6: "{{ device.value.primary_ip6.address | default("") }}"
{% if device.value.serial is defined and device.value.serial != "" %}
    serial: "{{ device.value.serial }}"
{% endif %}
    site: {{ device.value.site | default({}) }}
    status: "{{ device.value.status.value | default("") }}"
    interfaces:
{% for interface in dict_interfaces[device.key] %}
      {{ interface.name }}:
{% if interface.mac_address is defined %}
        mac: {{ interface.mac_address }}
{% endif %}
{% if dict_ips[interface.ips] is defined %}
        ip4: {{ dict_ips[interface.ips]|selectattr('family', 'eq', 4)|map(attribute='address')|list }}
        ip6: {{ dict_ips[interface.ips]|selectattr('family', 'eq', 6)|map(attribute='address')|list }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
