---
{% if nb_prefixes_by_name is defined %}
nb_prefixes_by_name:
{% for key, value in nb_prefixes_by_name.items() %}
{% if key %}
  {{ key }}:
{% if value.4 is defined %}
    "4":
      prefix: {{ value.4.prefix }}
{% endif %}
{% if value.6 is defined %}
    "6":
{% if value.6.prefix.gua is defined %}
      gua: {{ value.6.prefix.gua }}
{% endif %}
{% if value.6.prefix.ula is defined %}
      ula: {{ value.6.prefix.ula }}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if nb_prefixes_by_network is defined %}
nb_prefixes_by_network:
{% for key, value in nb_prefixes_by_network.items() %}
{% if key %}
  "{{ key }}":
{% for attr_key, attr_value in value.items() %}
{% if attr_value is defined and attr_value is not none %}
    {{ attr_key }}: {{ attr_value | to_json if (attr_value is mapping or (attr_value is iterable and attr_value is not string)) else (attr_value | string | quote if attr_value is string else attr_value) }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
