{% for host in icinga2_hosts %}
object Host "{{ host['name'] }}" {
{% if host['address'] is defined %}
  address = "{{ host['address'] }}"
{% elif host['address6'] is defined %}
  address6 = "{{ host['address6'] }}"
{% endif %}
{% if host['icinga2_hostvars'] is defined %}
{% for hostvar in host['icinga2_hostvars'] %}
  vars.{{ hostvar['key'] }} = "{{ hostvar['value'] }}"
{% endfor %}
{% endif %}
{% if host['icingahostvars'] is defined %}
{% for hostvar in host['icingahostvars'] %}
  vars.{{ hostvar['key'] }} = "{{ hostvar['value'] }}"
{% endfor %}
{% endif %}
  import "generic-host"
}
{% endfor %}
