/** Ansible generated */
template Host "generic-host" {
  max_check_attempts = 3
  check_interval = 1m
  retry_interval = 30s
  check_command = "hostalive"
}

template Service "generic-service" {
  max_check_attempts = 5
  check_interval = 1m
  retry_interval = 30s
}

apply Service "ping4" {
  import "generic-service"
  check_command = "ping4"
  assign where host.address
}

apply Service "ping6" {
  import "generic-service"
  check_command = "ping6"
  assign where host.address6
}

{% for notificationtemplate in icinganotificationtemplates %}
template Notification "{{ notificationtemplate['name'] }}" {
  interval = {{ notificationtemplate['interval'] }}
  command = {{ notificationtemplate['command'] }}
  states = [ {{ notificationtemplate['notifystates']|join(', ') }} ]
  types = [ {{ notificationtemplate['notifytypes']|join(', ') }} ]
  period = "{{ notificationtemplate['period'] }}"
}
{% endfor %}

{% for checktemplate in icingachecktemplates %}
apply Service "{{ checktemplate['name'] }}" {
  import "{{ checktemplate['import'] }}"
  check_command = "{{ checktemplate['commandname'] }}"
  assign where {{ checktemplate['assignto'] }}
  command_endpoint = {{ checktemplate['assignto'] }}
{% if checktemplate['checkvars'] is defined %}
{% for checkvar in checktemplate['checkvars'] %}
  vars.{{ checkvar['key'] }} = "{{ checkvar['value'] }}"
{% endfor %}
{% endif %}
}

{% endfor %}
