{% if cilium_ca_cert is defined and cilium_ca_cert and cilium_ca_key is defined and cilium_ca_key %}
tls:
  ca:
    cert: {{ cilium_ca_cert }}
    key: {{ cilium_ca_key }}
{% endif %}
ipam:
  mode: kubernetes
ipv6:
  enabled: true
l2announcements:
  enabled: true
kubeProxyReplacement: {{ "true" if (talos_cluster.value.disable_kube_proxy | default(false)) else "false" }}
{% if talos_cluster.value.disable_kube_proxy | default(false) %}
k8sServiceHost: localhost
k8sServicePort: 7445
{% endif %}
{% if talos_cluster.value.cilium_gateway_api | default(cilium_gateway_api | default(false)) %}
gatewayAPI:
  enabled: true
  enableAlpn: true
{% endif %}
securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup
