{% if netconf_bridgelist | length > 0 %}
cloned_interfaces="{{ netconf_bridgelist | join(' ') }}"
{% for interface in netconf_bridgelist %}
{% if netconf_interfaces[interface]['children'] is defined %}
ifconfig_{{ interface }}="{% for child in netconf_interfaces[interface]['children'] %}addm {{ child }} {% endfor %}{% if netconf_interfaces[interface]['method4'] | lower == "dhcp" %}SYNCDHCP{% else %}up{% endif %}"
{% for child in netconf_interfaces[interface]['children'] %}
ifconfig_{{ child }}="up"
{% endfor %}
{% endif %}
{% endfor %}
{% for key, value in netconf_interfaces.items() %}
{% if value.method4 == "static" %}
ifconfig_{{ key }}="inet {{ value.ip4 | ipaddr('address') }} netmask {{ value.ip4 | ipaddr('netmask') }}"
{% endif %}
{% if value.method6 == "static" %}
ifconfig_{{ key }}_ipv6="inet6 {{ value.ip6 | ipaddr('address') }} prefixlen {{ value.ip6 | ipaddr('prefix') }} auto_linklocal"
{% endif %}
{% endfor %}
{% endif %}
{% if netconf_simplelist | length > 0 %}
{% for interface in netconf_simplelist %}
ifconfig_{{ interface }}="{% if netconf_interfaces[interface]['method4'] | lower == "dhcp" %}DHCP{% elif netconf_interfaces[interface]['method4'] | lower == "static" %}inet {{ netconf_interfaces[interface]['ip4'] | ipaddr('address') }} netmask {{ netconf_interfaces[interface]['ip4'] | ipaddr('netmask') }}{% endif %}"
ifconfig_{{ interface }}_ipv6="{% if netconf_interfaces[interface]['method6'] | lower == "autoconf" %}inet6 accept_rtadv{% elif netconf_interfaces[interface]['method6'] | lower == "static" %}inet6 {{ netconf_interfaces[interface]['ip6'] }}{% endif %}"
{% endfor %}
{% endif %}
