# {{ rproxyitem.name }}
# {{ rproxyitem.comment }}
server {
    listen      [::]:443 ssl;
    listen      443 ssl;

    ssl_certificate {{ nginx_certpath }}/{{ rproxy_certname }}/fullchain.pem;
    ssl_certificate_key {{ nginx_certpath }}/{{ rproxy_certname }}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
{% if rproxyitem.set is defined %}
{% for setitem in rproxyitem.set %}
    set {{ setitem }};
{% endfor %}
{% endif %}
{% if rproxyitem.http_version is defined %}
    proxy_http_version {{ rproxyitem.http_version }};
{% endif %}
{% if rproxyitem.rproxycipher is defined %}
    ssl_ciphers {{ rproxyitem.rproxycipher }};
{% else %}
    ssl_ciphers {{ nginx_rproxycipher }};
{% endif %}
    ssl_ecdh_curve secp384r1;
    ssl_session_timeout 10m;
    #ssl_session_cache shared:SSL:10m;
    ssl_session_tickets off;
    ssl_stapling {{ rproxyitem.sslstapling | default('on', true) }};
    ssl_stapling_verify {{ rproxyitem.sslstaplingverify | default('on', true) }};
    add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";
    add_header X-Frame-Options DENY;
    add_header X-Content-Type-Options nosniff;
    add_header X-XSS-Protection "1; mode=block";
{% if rproxyitem.addheaders is defined %}
{% for header in rproxyitem.addheaders %}
    add_header {{ header }};
{% endfor %}
{% endif %}
{% if rproxyitem.rproxyaltfqdn is defined %}
    server_name {{ rproxyitem.name }} {{ rproxyitem.rproxyaltfqdn }};
{% else %}
    server_name {{ rproxyitem.name }};
{% endif %}
{% if rproxyitem.redirect is defined %}
    return 301 {{ rproxyitem.redirect }};
{% endif %}
{% if rproxyitem.authfile is defined %}
    auth_basic "Restricted Access";
    auth_basic_user_file "{{ rproxyitem.authfile }}";
{% endif %}
{% if rproxyitem.clientmaxbodysize is defined %}
    client_max_body_size {{ rproxyitem.clientmaxbodysize }};
{% else %}
    client_max_body_size {{ nginx_clientmaxbodysize }};
{% endif %}
{% if rproxyitem.proxyrequestbuffering is defined %}
    proxy_request_buffering {{ rproxyitem.proxyrequestbuffering }};
{% endif %}
    access_log /var/log/nginx/{{ rproxyitem.name }}-ssl_access.log;
    error_log /var/log/nginx/{{ rproxyitem.name }}-ssl_error.log error;
    location / {
            client_max_body_size 1024M;
            proxy_buffering {{ rproxyitem.proxybuffering | default('on', true) }};
            proxy_buffers 4 512k;
            proxy_busy_buffers_size 512k;
            proxy_buffer_size 512k;
{% if rproxyitem.enablecache is sameas true %}
            proxy_cache STATIC;
            proxy_cache_valid 200 1d;
            proxy_cache_use_stale  error timeout invalid_header updating http_500 http_502 http_503 http_504;
{% endif %}
            proxy_redirect off;
            proxy_set_header X-Real-IP $remote_addr;
            #proxy_set_header X-Forward-For $remote_addr;
            proxy_set_header X-Forward-For $proxy_add_x_forwarded_for;
	    proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header Host $host;
{% if rproxyitem.setheaders is defined %}
{% for setheaderitem in rproxyitem.setheaders %}
            proxy_set_header {{ setheaderitem }};
{% endfor %}
{% endif %}
{% if rproxyitem.hideheaders is defined %}
{% for hideheaderitem in rproxyitem.hideheaders %}
            proxy_hide_header {{ hideheaderitem }};
{% endfor %}
{% endif %}

            proxy_pass {{ rproxyitem.rproxytarget }};
	    add_header X-Frame-Options "SAMEORIGIN";
{% if rproxyitem.addheaders is defined %}
{% for addheaderitem in rproxyitem.addheaders %}
            add_header {{ addheaderitem }};
{% endfor %}
{% endif %}

    }
{% if rproxyitem.additionallocations is defined %}
{% for locationitem in rproxyitem.additionallocations %}
    location {{ locationitem.location }} {
{% for locationitemelement in locationitem.options %}
      {{ locationitemelement }};
{% endfor %}
}
{% endfor %}
{% endif %}
}
