server {
{% if vhostitem.comment is defined %}
        # {{ vhostitem.comment }}
{% endif %}
{% if vhostitem.userproxyitem_fromhost is defined and hostvars[vhostitem.userproxyitem_fromhost].rproxyitems[vhostitem.fqdn].comment is defined %}
	# {{ hostvars[vhostitem.userproxyitem_fromhost].rproxyitems[vhostitem.fqdn].comment }}
{% endif %}
        listen 80;
{% if vhostitem.ipaddress is defined %}
        listen [{{ vhostitem.ipaddress }}]:80;
{% else %}
	listen [{{ nginx_defaultbindip }}]:80;
{% endif %}
{% if vhostitem.altfqdn is defined and vhostitem.userproxyitem_fromhost is defined and hostvars[vhostitem.userproxyitem_fromhost].rproxyitems[vhostitem.fqdn].rproxyaltfqdn is not defined %}
	server_name {{ vhostitem.fqdn }} {{ vhostitem.altfqdn }};
{% elif vhostitem.altfqdn is defined and vhostitem.userproxyitem_fromhost is defined and hostvars[vhostitem.userproxyitem_fromhost].rproxyitems[vhostitem.fqdn].rproxyaltfqdn is defined %}
	server_name {{ vhostitem.fqdn }} {{ vhostitem.altfqdn }} {{ hostvars[vhostitem.userproxyitem_fromhost].rproxyitems[vhostitem.fqdn].rproxyaltfqdn }};
{% elif vhostitem.altfqdn is not defined and vhostitem.userproxyitem_fromhost is defined and hostvars[vhostitem.userproxyitem_fromhost].rproxyitems[vhostitem.fqdn].rproxyaltfqdn is defined %}
	server_name {{ vhostitem.fqdn }} {{ hostvars[vhostitem.userproxyitem_fromhost].rproxyitems[vhostitem.fqdn].rproxyaltfqdn }};
{% else %}
{% if vhostitem.altfqdn is defined %}
	server_name {{ vhostitem.fqdn }} {{ vhostitem.altfqdn }};
{% else %}
	server_name {{ vhostitem.fqdn }};
{% endif %}
{% endif %}
{% if vhostitem.maxbodysize is defined %}
	client_max_body_size {{ vhostitem.maxbodysize }};
{% endif %}
{% if vhostitem.nginx_autoindex is defined %}
        autoindex {{ vhostitem.nginx_autoindex }};
{% else %}
        autoindex off;
{% endif %}
{% if vhostitem.authfile is defined %}
    auth_basic "Restricted Access";
    auth_basic_user_file "{{ vhostitem.authfile }}";
{% endif %}
        access_log /var/log/nginx/{{ vhostitem.fqdn }}-access.log;
        error_log /var/log/nginx/{{ vhostitem.fqdn }}-error.log;
        location ^~ /.well-known/acme-challenge/ {
                alias {{ nginx_wellknownpath }};
        }	
{% if vhostitem.root is defined %}
        root {{ vhostitem.root }};
{% else %}
        root {{ nginx_wwwdir }}/vhosts/{{ vhostitem.fqdn }};
{% endif %}
        location / {
{% if vhostitem.enablewordpress is defined and vhostitem.enablewordpress %}
		try_files $uri $uri/ /index.php?q=$uri&$args;
{% endif %}
                index index.html index.htm index.php;
{% if vhostitem.redirectallhttps is sameas false or nginx_firstrollout %}
                # return 301 https://$host$request_uri;
{% else %}
                return 301 https://$host$request_uri;
{% endif %}
        }
{% if vhostitem.ommitphplocation is true %}
{% else %}
        location ~ \.php$  {
{% if ansible_os_family == 'FreeBSD' %}
                include /usr/local/etc/nginx/fastcgi_params;
		fastcgi_pass unix:/var/run/php-fpm.sock;
{% elif ansible_os_family == 'Debian' %}
		include /etc/nginx/fastcgi_params;
		fastcgi_pass unix:/var/run/php-fpm.sock;
{% else %}
                include /etc/nginx/fastcgi_params;
                fastcgi_pass unix:/run/nginx/www.sock;
{% endif %}
                fastcgi_index index.php;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
{% endif %}
{% if vhostitem.additionallocations is defined %}
{% for locationitem in vhostitem.additionallocations %}
location {{ locationitem.location }} {
{% for locationitemelement in locationitem.options %}
  {{ locationitemelement }}
{% endfor %}
}
{% endfor %}
{% endif %}
}

