config prometheus-node-exporter-lua "main"
	option listen_interface "{{ openwrtprometheus_node_exporter_lua_interface | default('loopback', true) }}"
	option listen_port "{{ openwrtprometheus_node_exporter_lua_port | default('9100', true) }}"
