#!/usr/bin/env sh
ipupdater_ownip_domainname="{{ ipupdater_ownip_domainname }}"
ipupdater_ownip_interfacename="{{ ipupdater_ownip_interfacename }}"
ipupdater_ownip_interfacesope="{{ ipupdater_ownip_interfacescope }}"
